#loader{
    min-height: 780px;
    width: 80%;
    background:url(./../.././../assets/Resources/Images/Loading-bro.png) no-repeat center;
    position: fixed;
    background-size: 40%;
    z-index: 100;  
}

.main{
    min-height: 800px;
    background-color: whitesmoke;
}
.sections{
    min-height: 800px;
    display: flex;
}
.left{
    width: 900px;
    /* border-right: 2px solid rgba(108, 108, 108, 0.184); */
    overflow: hidden;
}
.left > div{
  padding: 10px;
}
.left .top{
    min-height: 35%;
}
.top .heading{
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0px 2px 0px 2px;
}
.heading h1{
    margin-top: 10px;
}
.heading input[type="search"]{
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 1em;
    outline: none;
     font-size: 13px;
 }
.top ul{
    overflow-x: scroll;
    display: flex;
   align-items: center;
}
.top ul::-webkit-scrollbar{
   display: none;
}
.left .top ul li {
    background-color: white;
    min-width:287px;
    height: 200px;
    list-style: none;
    text-decoration: none;
    border-radius: 1em;
    margin-right: 10px;
    overflow: hidden;
}
.user-bio{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}
.user-bio p{
    margin-top: 10px;
    padding: 6.5px;
    background-color: rgba(113, 112, 112, 0.081);
    border-radius: 1em;
    font-size: small;
    
}

.profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.138);
}
.profile-picture img{
    width: 100%;
    height: 100%;
}
.user-bio-data{
    height: 150px;
    display: flex;
    flex-direction: column;
}
.user-bio-data > span{
    padding: 4.5px;
    margin: 4px;
    border-radius: 2em;
    font-size: small;
    background-color: rgba(113, 112, 112, 0.081);
}
.user-bio-data :nth-child(1) {
   width: 70%;
}
.user-bio-data :nth-child(2) {
    width: 65%;
 }

 .user-bio-data :nth-child(3) {
    width:60%;
 }
 .user-bio-data :nth-child(4) {
    padding: 5px;
    position: relative;
    left: 75%;
    text-align: center;
    width:20%;
 }

.left .bottom{
    min-height: 65%;
}

.bottom .container{
    background-color: white;
    margin: 5px;
    padding: 0px 5px 0px 5px;
    height: 500px;
    border-radius: 1em;
    overflow: hidden;
}

.container .heading{
   height: 50px;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.heading .tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin-right: 8px;
}
.heading p{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}
.search input[type="search"]{
   width: 100%;
   height: 30px;
   background-color: rgba(0, 0, 0, 0.078);
   
 }
 .heading .filter, .recordFilter{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.078);
    border-radius: 2em;
    cursor: pointer;
    transition: 0.3s;
 }
 select{
    outline: none;
    border: none;
    background-color: transparent;
 }
.container .table{
    height: 495px;
}
.table-headings{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.058);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1em;
    font-size: small;
}
.table-headings > span{
    width: 170px;
    display: flex;
    justify-content: center;
}

.scrollView{
    height: 600px;
    overflow-y: scroll;
}
.scrollView::-webkit-scrollbar{
   display: none;
}
.scrollView ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgba(196, 253, 139, 0.442);
}
.scrollView ul li >span{
    height: 55px;
    width: 150px;
}
.cat, .amount, .time, .createdBy, .editedBy{
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc{
    font-size: small;
    display: -webkit-box; 
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 3; 
            overflow: hidden; 
            text-overflow: ellipsis; 
   
}

.amt{
    min-width: 80px;
    border-radius: 1em;
    text-align: center;  
}
.amt.inc{
    background-color: rgba(168, 255, 160, 0.523);
    border: 1px solid rgb(229, 229, 229);
}
.amt.exp{
    background-color: rgba(255, 182, 160, 0.523);
    border: 1px solid rgb(229, 229, 229);
}
.pv{
    padding-top: 15px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.action{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    margin-right: 6px;
    cursor: pointer;
}
.attch{
    color: rgb(134, 207, 231);
}
.edit{
    color: rgb(145, 145, 255);
}
.del{
    color: rgb(255, 94, 94);
    border: 4px;
}

.right{
    width: 278px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right > div{
    border-radius: 1em;
    min-width: 260px;
    background-color: white;
    margin: 10px 0px 25px 0px;
    height: 250px;
}
.top-categories{
    padding-left: 10px;
}
.top-categories ul{
    list-style: none;
}
.top-categories ul li{
    border-radius: 1em;
    padding: 8px;
    margin-bottom: 4px;
    background-color: rgba(37, 115, 131, 0.081);
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.viewAllContainer{
    margin-top: 0px;
    position: fixed;
    width: 80%;
    min-height: 800px;
    background-color: rgba(240, 240, 240, 0.574);
    backdrop-filter: blur(10px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.formCard{
    padding: 5px;
    background-color: white;
    width: 40%;
    height: 620px;
    border-radius: 5px;
}
label{
    margin-top: 5px;
}
.formCard h3{
    text-align: center;
}

.formCard section{
    min-height: 570px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formCard section h3{
    padding-top: 10px;
    text-align: center;
    position: relative;
    left: 20%;
    height: 40px;
    width: 60%;
    background-color: rgba(208, 244, 205, 0.452);
}
.formCard form{
    padding-left: 20px;
    width: 100%;
    height: 460px;
}
.recordType{
    display: flex;
    height: 30px;
    justify-content: space-around;
}
.recordType label{
    position: relative;
     left: 5px;
}

.formCard input[type="number"]{
   width: 95%;
   padding: 8px;
   border: 2px solid rgba(168, 255, 160, 0.921);
   border-radius: 5px;
   outline: none;
   margin-top: 5px;
    margin-bottom: 5px;
}
.formCard input[type="text"]{
    width: 95%;
    padding: 8px;
    border: 2px solid rgba(168, 255, 160, 0.921);
    border-radius: 5px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
 }
 .formCard input[type="file"]{
    padding-top: 5px;
    padding-bottom: 5px;
 }
.formCard button{
    margin-top: 10px;
    padding: 5px;
    width: 95%;
    height: 8%;
    background-color: rgba(168, 255, 160, 0.921);
    outline: none;
    border: none;
    transition: all 1s;
}
.formCard input[type="submit"]:hover{
    background-color: rgba(53, 255, 35, 0.921);
   cursor: pointer;
}
.formCard p{
    padding: 5px 0px 5px 0px;
}
.formCard textarea{
    padding: 5px;
    width: 95%;
    height: 25%;
    resize: none;
    border: 2px solid rgba(168, 255, 160, 0.921);
   border-radius: 5px;
   outline: none;
}

.recordOptions{
    display: flex;
    width: 40%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.recordOptions li{
    list-style: none;
    border-radius: 1em;
    height: 35px;
    width: 100px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.formCard select{
    padding: 5px;
    width: 95%;
    height: 10%;
    resize: none;
    border: 2px solid rgba(168, 255, 160, 0.921);
   border-radius: 5px;
   outline: none;
   margin-top: 5px;
   margin-bottom: 5px;
}

.notifySign{
    position: fixed;
    z-index: 2;
    height: 100px;
    width: 200px;
    top: 37%;
    left: 40%;
    border-radius: 1em;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}
.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color:rgb(45, 103, 6);
}
.notifySign.remove{
    display: none;
}
.closeViewAllCardBtn{
    display: flex;
    float: right;
}

select{
    border: none;
    outline: none;
}

@media screen and (max-width: 914px) {
    .main{
        padding-top: 60px;
        min-height: 920px;
    }
    .sections{
        min-height: 800px;
        display: flex;
        flex-wrap: wrap;
    }
    .left .top{
        min-height: 35%;
        width: 100%;
    }
    .heading input[type="search"]{
        width: 50%;
     }
     .bottom{
        width: 100%;
        overflow-x: scroll;
     }
     .bottom .container{
        background-color: white;
        margin: 5px;
        padding: 0px 5px 0px 5px;
        height: 500px;
        border-radius: 1em;
        overflow-x: scroll;
        width: 900px;
    }
    .right{
        width: 100%;
    }
    .right > div{
        width: 400px;
    }
    .viewAllContainer{
        width: 100%;
        min-height: 800px;
    }
    .formCard{
        padding: 5px;
        background-color: white;
        width: 90%;
        height: 620px;
        border-radius: 5px;
    }
}
