.main{
   width: 100%;
   min-height: 780px;
   display: flex;
   justify-content: center;
}
.side-panel img{
    width: 75%;
    height: 75%;
}
.side-panel{
    /* background-image: url(../../../assets/Resources/Images/F2Illustration.jpg); */
    display: flex;
    background-size: 80%;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 50%;
    min-height: 730px;
    background-position: center;
}
.forgot-pass-panel, .reset-pass-panel{
    padding-left: 75px;
    width: 50%;
    min-height: 589px;
    background-color: rgba(211, 211, 211, 0.237);
}
.container{
    position: relative;
    top: 20%;
    width: 85%;
    
}

.notification{
    position: absolute;
    top: 0% ;
    width: 100%;
    z-index: 3;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4em;
    background-color: rgb(213, 255, 202);
    box-shadow: 2px 2px 2px white;
    font-weight:800;
}
.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color:rgb(45, 103, 6);
}
.notification.remove{
    display: none;
}
/* .forgot-pass-text{
    background-color: rgba(84, 149, 97, 0.5);
    transition: 0.3s;
}
.signup-text{
    background-color: rgba(84, 149, 97, 0.5);
    transition: 0.3s;
} */

.forgot-pass{
    margin-top: 10px;
      width: 90%;
      height: 70%;
     transition: 0.3s;
}

.forgot-pass input{
    background-color: white;
    outline: none;
    border: 2px solid rgba(108, 108, 108, 0.184);
    width: 80%;
   padding: 15px;
    margin-top: 10px;
    border-radius: 1em;
    margin-bottom: 25px;
}
.forgot-pass button{
    border: none;
    outline: none;
    width:80%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1em;
    background-color: rgba(172, 241, 155, 0.693);
    cursor: pointer;
}
.formType{
    margin-top: 10px;
    cursor: pointer;
}
 @media screen and (max-width: 914px) {
    
    .side-panel{
     display: none;
     width: 100%;
     height: 100vh;
    }
    .side-panel.show{
        display: flex;
        background-size: 50%;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        width: 100%;
        min-height: 730px;
        background-position: center;
    }
    .side-panel.show img{
        width: 100%;
        height: 50%;
    }
    .forgot-pass-panel, .reset-pass-panel{
        background-color: rgba(255, 255, 255, 0.664);
       padding-left: 20px;
       width: 100%;
       height: 100vh;
    }
    .container{
        position: relative;
        top: 15%;
        width: 100%;
    }
    .forgot-pass input{
        width: 105%;
    }
    .forgot-pass button{
        width:105%;
    }
   
  } 
  @media screen and (max-width: 450px) {
    .form-card{
        width: 80%;
        height: 50%;
    }
  }

