<div class="main">
    <div class="notification" *ngIf="showNotification && Response">
      {{Response}}
    </div>
    <div class="side-panel" [ngClass]="{'show': showSidepanel}">  
      <img src="../../../assets/Resources/Images/password.jpg" alt="" srcset="">
    </div>
    <div class="forgot-pass-panel" *ngIf="showforgot">
       <div class="container">
         <h1 style="font-weight: 800;">Forgot Password ?</h1>
         <p style="line-height: 25px;">Kindly enter the Email Address tied to your <br/> account, we would help you reset your password.</p>
            <div class="forgot-pass">
              <form #forgotPasswordform="ngForm" (ngSubmit)="sendLink(email.value)">
                Email Address<br>
                <input type="text" placeholder="example@mail.com" email name="email" #email="ngModel" ngModel required>
                <button [disabled]="forgotPasswordform.invalid"><mat-spinner diameter="30" style="margin:0 auto;" *ngIf="showSpinnerL"></mat-spinner><span [hidden]="showSpinnerL">Recover Password</span></button>
                <br>
              </form>
          </div>
        
       </div>
    </div>
   <!--Reset password panel -->
   <div class="reset-pass-panel" *ngIf="showReset">
    <div class="container">
      <h1 style="font-weight: 800;">Reset password</h1>
      <p style="line-height: 25px;">Kindly enter the token sent to your email <br> and set a new password</p>
         <div class="forgot-pass">
           <form #resetPasswordform="ngForm" (ngSubmit)="changePassword(token.value,pass2.value)">
             <label for="token">Token</label><br>
             <input type="text" placeholder="Token goes here"  name="token" #token="ngModel" ngModel required><br>
             <label for="new password">New Password</label><br>
             <input type="password" name="pass1" id="pass1" #pass1="ngModel" ngModel required minlength="8"><br>
             <label for="confirm password">Confirm Password</label><br>
             <input type="password" name="pass2" id="pass2" #pass2="ngModel" ngModel required minlength="8"><br>
             <p style="color: red;" *ngIf="pass1.value != pass2.value">Passwords don't match</p>
             <button [disabled]="resetPasswordform.invalid"><mat-spinner diameter="30" style="margin:0 auto;" *ngIf="showSpinnerL"></mat-spinner><span [hidden]="showSpinnerL">Change Password</span></button>
             <br>
           </form>
       </div>
     
    </div>
 </div>

</div>

